<link rel="import" href="../utility/completion-status-mixin.html">
<link rel="import" href="../../d2l-colors/d2l-colors.html">
<link rel="import" href:"../../d2l-typography/d2l-typography.html">

<dom-module id="d2l-activity-link">
	<template>
		<style>
			:host {
				display: block;
				font-family: 'Lato', sans-serif;
				display: grid;
				grid-template-columns: 1fr 17px 15px;
			}

			.current {
				background-color: var(--d2l-color-ferrite);
				color: white;
			}

			:not(.current) {
				color: var(--d2l-color-ferrite);
			}

			.checkmark {
				grid-column: 2;
			}

			#activityLink {
				display: block;
				padding-right: 15px;
				padding-left: 15px;
				grid-column: 1;

				/* Compact Body Text - Lato Regular 16 */
				font-size: 16px;
				line-height: 24px;
				font-weight: 400; /* normal */
				letter-spacing: 0.2px;
			}

		</style>
		<a id="activityLink" on-click="setCurrent">[[entity.properties.title]]</a>
		<template is="dom-if" if="[[showComplete]]">
			<div class="checkmark" id="IsComplete">
				<svg xmlns="http://www.w3.org/2000/svg" width="18" height="13" viewBox="0 0 18 13">
					<path fill="#46A661" fill-rule="evenodd" d="M17.7 1.7l-11 11c-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3l-5-5c-.4-.4-.4-1 0-1.4.4-.4 1-.4 1.4 0L6 10.6l4.3-4.3 6-6c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4z"/>
			</svg>
			</div>
		</template>

	</template>
	<script>
		/*
		@memberOf window.D2L.Polymer.Mixins;
		@mixes CompletionStatusMixin
		*/
		class D2LActivityLink extends D2L.Polymer.Mixins.CompletionStatusMixin( Polymer.Element ) {
			static get is() {
				return 'd2l-activity-link';
			}
			static get properties() {
				return {
					currentActivity: {
						type: String,
						value: '',
						notify: true
					},
					showComplete: {
						type: Boolean,
						value: false,
						computed: 'isComplete(entity)'
					}
				};
			}
			static get observers() {
				return [
					'onCurrentActivityChanged(currentActivity, entity)'
				];
			}

			constructor() {
				super();
			}

			ready() {
				super.ready();
			}

			setCurrent() {
				this.currentActivity = this._getLinkByRel( this.entity, 'self').href;
			}

			isComplete(entity) {
				return entity
					.getSubEntityByRel('about')
					.getSubEntityByClass('completion')
					.hasClass('completed');
			}

			onCurrentActivityChanged( currentActivity, entity ) {
				if ( currentActivity && entity ) {
					var current = this._getLinkByRel( entity, 'self').href === currentActivity;
					if ( current ) {
						this.$.activityLink.classList.add('current');
					} else {
						this.$.activityLink.classList.remove('current');
					}
					this.dispatchEvent( new CustomEvent('activitySelected', { detail:{ activityHref: currentActivity }, composed: true } ) );
				}
			}
		}
		customElements.define(D2LActivityLink.is, D2LActivityLink);
	</script>
</dom-module>
