<link rel="import" href="d2l-progress-bar.html">
<link rel="import" href="../utility/completion-status-mixin.html">
<link rel="import" href="../../d2l-colors/d2l-colors.html">
<link rel="import" href="../../d2l-typography/d2l-typography.html">
<link rel="import" href="../../d2l-localize-behavior/d2l-localize-behavior.html">
<!--
'd2l-lesson-header'


@demo demo/index.html
-->

<dom-module id="d2l-lesson-header">
	<template>
		<style>
		:host {
			display: block;
			font-family: 'Lato', sans-serif;
		}

		.module-title {
			color: var(--d2l-color-ferrite);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			margin-top: 0px;
			margin-bottom: 0px;

			/* Heading 3 - Lato Bold 20 */
			font-size: 20px;
			line-height: 30px;
			font-weight: 700; /* bold */
			letter-spacing: 0.2px;
		}

		.module-completion-count {
			text-align: right;
			padding-top: 10px;
			padding-bottom: 20px;

			/* Small Body Text - Lato Regular 14, Tungsten */
			font-size: 14px;
			line-height: 20px;
			font-weight: 400; /* normal */
			letter-spacing: 0.2px;
			color: var(--d2l-color-tungsten);
		}

		</style>

		<div>
			<div class="module-title">[[entity.properties.title]]</div>
			<d2l-progress-bar percent-completed=[[percentCompleted]]></d2l-progress-bar>
			<div class="module-completion-count">[[localize('modulesDone', 'completed', completionCompleted, 'total', completionTotal)]]</div>
		</div>

	</template>
	<script>
		/*
		@memberOf D2L.Polymer.Mixins;
		@mixes CompletionStatusMixin
		*/
		class D2LLessonHeader extends Polymer.mixinBehaviors(D2L.PolymerBehaviors.LocalizeBehavior, D2L.Polymer.Mixins.CompletionStatusMixin(Polymer.Element)) {
			static get is() {
				return 'd2l-lesson-header';
			}
			static get properties() {
				return {
					currentActivity: {
						type: String,
						value: '',
						notify: true
					},
					completionCount: {
						type: Object,
						computed: '_getStatus(entity)',
						observer: '_getPercentCompleted'
					},
					percentCompleted: {
						type: Number
					}
				};
			}

			_getStatus(entity) {
				const completionStatus = entity.getSubEntityByClass('completion').properties;
				return completionStatus || {
					completed: 0,
					optionalViewed: 0,
					optionalTotal: 0,
					total: 0
				};
			}

			connectedCallback() {
				super.connectedCallback();
				this.loadResources(this.resolveUrl('../locales.json'));
			}

			_getPercentCompleted() {
				if (!this.completionCount || this.completionCount.total === 0) return 0;
				this.percentCompleted = 100 * this.completionCount.completed / this.completionCount.total;
			}
		}

		window.customElements.define(D2LLessonHeader.is, D2LLessonHeader);
	</script>
</dom-module>
