<link rel="import" href="../../polymer-siren-mixins/siren-entity-mixin.html">
<link rel="import" href="d2l-navigation-menu-item.html">
<link rel="import" href="../../d2l-accordion/d2l-accordion.html">

<dom-module id="d2l-module-link">
	<template>
		<style>
			:host {
				display: block;
			}
			ol {
				list-style-type: none;
				border-collapse: collapse;
				padding-left: 0px;
			}
			d2l-navigation-menu-item {
				border: 1px solid #cccccc;
				padding: 5px;
			}
			d2l-navigation-menu-item:not(:first-child) {
				border-top: 0;
			}
			d2l-navigation-menu-item:nth-child(odd) {
				background-color: #ffffff;
			}
			d2l-navigation-menu-item:nth-child(even) {
				background-color: #f2f2f2;
			}

		</style>
	    <d2l-accordion-collapse on-click="toggleSelected" title="[[entity.properties.title]] ([[completionCount.completed]] of [[completionCount.total]])" id="moduleLink" no-icons auto-close>
			<ol>
				<template is="dom-repeat" items="[[subEntities]]" as="childLink">
					<d2l-navigation-menu-item href="[[childLink.href]]"
					                          token="[[token]]"
					                          current-activity="{{currentActivity}}"
					                          selected-module="{{selectedModule}}">
					</d2l-navigation-menu-item>
				</template>
			</ol>
	    </d2l-accordion-collapse>
	</template>
	<script>
		/*
		@mixes SirenEntityMixin
		*/
		class D2LModuleLink extends D2L.Polymer.Mixins.SirenEntityMixin( Polymer.Element ) {
			static get is() {
				return 'd2l-module-link';
			}
			static get properties() {
				return {
					currentActivity: {
						type: String,
						value: '',
						notify: true
					},
					selectedModule: {
						type: String,
						value: '',
						observer: 'onSelectedModuleChanged',
						notify: true
					},
					completionCount:{
						type: Object,
						value: {
							completed: 0,
							total: 0
						},
						computed: 'countCompletedActivities(entity)'
					},
					subEntities: {
						type: Array,
						computed: 'getSubEntities(entity)'
					}
				};
			}

			constructor() {
				super();
			}

			ready() {
				super.ready();
			}
			getSubEntities( entity ) {
				return entity.getSubEntities().map(this._getHref);
			}

			_getHref( entity ) {
				return entity && entity.getLinkByRel && entity.getLinkByRel('self') || entity || '';
			}

			countCompletedActivities(entity) {
				const result = {
					completed: 0,
					total: 0
				};
				if ( !entity.entities ) {
					return result;
				}

				for ( var i = 0; i < entity.entities.length; i++ ) {
					var child = entity.entities[i];
					if ( this.isActivity(child) ) {
						result.total++;
						if ( this.isComplete(child) ) {
							result.completed++;
						}
					} else if ( this.isModule(child) ) {
						var childCount = this.countCompletedActivities(child);
						result.completed += childCount.completed;
						result.total += childCount.total;
					}
				}
				return result;
			}

			isActivity(childEntity) {
				return childEntity.class[0] === 'sequenced-activity' && Object.keys(childEntity.properties).length > 0;
			}

			isModule(childEntity) {
				return childEntity.class[1] === 'sequence-description';
			}

			isComplete(activity) {
				return activity
					.getSubEntityByRel('about')
					.getSubEntityByClass('completion')
					.hasClass('completed');
			}

			toggleSelected() {
				if ( this.$.moduleLink.classList.contains('selected') ) {
					this.selectedModule = '';
				} else {
					this.selectedModule = this._getLinkByRel( this.entity, 'self').href;
				}
			}

			onSelectedModuleChanged() {
				var selected = this.entity && this._getLinkByRel( this.entity, 'self').href === this.selectedModule;
				if ( selected ) {
					this.$.moduleLink.classList.add('selected');
				} else {
					this.$.moduleLink.classList.remove('selected');
				}
			}
		}
		customElements.define(D2LModuleLink.is, D2LModuleLink);
	</script>
</dom-module>
