<link rel="import" href="d2l-navigation-menu-item.html">
<link rel="import" href="../utility/completion-status-mixin.html">
<link rel="import" href="../../d2l-accordion/d2l-accordion.html">

<dom-module id="d2l-module-link">
	<template>
		<style>
			:host {
				display: block;
			}
			ol {
				list-style-type: none;
				border-collapse: collapse;
				padding-left: 0px;
			}
			d2l-navigation-menu-item {
				border: 1px solid #cccccc;
				padding: 5px;
			}
			d2l-navigation-menu-item:not(:first-child) {
				border-top: 0;
			}
			d2l-navigation-menu-item:nth-child(odd) {
				background-color: #ffffff;
			}
			d2l-navigation-menu-item:nth-child(even) {
				background-color: #f2f2f2;
			}

		</style>
    <d2l-accordion-collapse
			class$="[[_getIsSelected(selectedModule)]]"
			on-click="toggleSelected"
			title="[[entity.properties.title]] ([[completionCount.completed]] of [[completionCount.total]])"
			id="moduleLink"
			no-icons
		>
			<ol>
				<template is="dom-repeat" items="[[subEntities]]" as="childLink">
					<li>
						<d2l-navigation-menu-item
							href="[[childLink.href]]"
	            token="[[token]]"
	            current-activity="{{currentActivity}}"
	            selected-module="{{selectedModule}}"
						>
						</d2l-navigation-menu-item>
					</li>
				</template>
			</ol>
		</d2l-accordion-collapse>
	</template>
	<script>
	/*
	@memberOf window.D2L.Polymer.Mixins;
	@mixes CompletionStatusMixin
	*/
		class D2LModuleLink extends CompletionStatusMixin(Polymer.Element) {
			static get is() {
				return 'd2l-module-link';
			}
			static get properties() {
				return {
					currentActivity: {
						type: String,
						value: '',
						notify: true
					},
					selectedModule: {
						type: String,
						value: ''
					},
					completionCount: {
						type: Object,
						computed: '_getStatus(completionStatus)'
					},
					subEntities: {
						type: Array,
						computed: 'getSubEntities(entity)'
					}
				};
			}

			constructor() {
				super();
			}

			ready() {
				super.ready();
			}
			getSubEntities(entity) {
				return entity.getSubEntities().map(this._getHref);
			}

			_getHref(entity) {
				return entity && entity.getLinkByRel && entity.getLinkByRel('self') || entity || '';
			}
			_getStatus(completionStatus) {
				return completionStatus || {
					completed: 0,
					total: 0
				};
			}
			isActivity(childEntity) {
				return childEntity.class[0] === 'sequenced-activity' && Object.keys(childEntity.properties).length > 0;
			}

			isModule(childEntity) {
				return childEntity.class[1] === 'sequence-description';
			}

			isComplete(activity) {
				return activity
					.getSubEntityByRel('about')
					.getSubEntityByClass('completion')
					.hasClass('completed');
			}

			toggleSelected() {
				this.selectedModule = (this.selectedModule === '') ?
					this._getLinkByRel(this.entity, 'self').href :
					'';
			}
			_getIsOpened(selectedModule) {
				return this._getIsSelected(selectedModule) === 'selected';
			}
			_getIsSelected(selectedModule) {
				var selected = this.entity && this._getLinkByRel(this.entity, 'self').href === this.selectedModule;
				return (selected) ? "selected" : "totally-not-selected";
			}
		}
		customElements.define(D2LModuleLink.is, D2LModuleLink);
	</script>
</dom-module>
