<link rel="import" href="../utility/completion-status-mixin.html">
<link rel="import" href="../../d2l-icons/d2l-icon.html">
<link rel="import" href="../../d2l-colors/d2l-colors.html">
<link rel="import" href="../../d2l-icons/tier1-icons.html">

<dom-module id="d2l-completion-requirement">
	<template>
		<style>
			.optional, .exempt {
				color: var(--d2l-color-tungsten);
				display: inline;
				width: 48px;
				font-size: 14px;
			}
		</style>
		<template is="dom-if" if="[[isExempt]]">
			<div class="exempt">
				[[localize('exempt')]]
			</div>
		</template>
		<template is="dom-if" if="[[isOptional]]">
			<div class="optional">
				[[localize('optional')]]
			</div>
		</template>
	</template>
	<script>
		/*
		@memberOf window.D2L.Polymer.Mixins;
		@mixes D2L.Polymer.Mixins.CompletionStatusMixin
		*/
		class D2LCompletionRequirement extends D2L.Polymer.Mixins.CompletionStatusMixin() {
			static get is() {
				return 'd2l-completion-requirement';
			}
			static get properties() {
				return {
					completionRequirement: {
						type: String,
						computed: '_getCompletionRequirement(entity)',
						observer: '_showCompletionRequirementType'
					},
					isExempt: {
						type: Boolean,
						value: false
					},
					isOptional: {
						type: Boolean,
						value: false
					}
				};
			}

			connectedCallback() {
				super.connectedCallback();
			}

			_showCompletionRequirementType( exemption ) {
				switch ( exemption ) {
					case 'exempt':
						this.isExempt = true;
						break;
					case 'optional':
						this.isOptional = true;
						break;
				}
			}
		}
		customElements.define(D2LCompletionRequirement.is, D2LCompletionRequirement);
	</script>
</dom-module>
