<link rel="import" href="../utility/completion-status-mixin.html">
<link rel="import" href="../../d2l-icons/d2l-icon.html">
<link rel="import" href="../../d2l-colors/d2l-colors.html">
<link rel="import" href="../../d2l-icons/tier1-icons.html">

<dom-module id="d2l-completion-status">
	<template>
		<style>
			.complete {
				color: var(--d2l-color-ferrite);
			}
		</style>
		<template is="dom-if" if="[[isComplete]]">
			<d2l-icon class="complete" aria-label$="[[localize('completed')]]" icon="d2l-tier1:check"></d2l-icon>
		</template>
	</template>
	<script>
		/*
		@memberOf window.D2L.Polymer.Mixins;
		@mixes D2L.Polymer.Mixins.CompletionStatusMixin
		*/
		class D2LCompletionStatus extends D2L.Polymer.Mixins.CompletionStatusMixin() {
			static get is() {
				return 'd2l-completion-status';
			}
			static get properties() {
				return {
					completionStatus: {
						type: String,
						computed: '_getCompletionStatus(entity)',
						observer: '_showCompletionType'
					},
					isOptional: {
						type: Boolean,
						value: false
					},
					isComplete: {
						type: Boolean,
						value: false
					}
				};
			}

			connectedCallback() {
				super.connectedCallback();
			}

			_showCompletionType( completion ) {
				switch ( completion ) {
					case 'complete':
						this.isComplete = true;
						break;
					case 'optional-viewed':
						this.isComplete = true;
						this.isOptional = true;
						break;
					case 'optional':
						this.isOptional = true;
						break;
				}
			}
		}
		customElements.define(D2LCompletionStatus.is, D2LCompletionStatus);
	</script>
</dom-module>
