<link rel="import" href="d2l-progress-bar.html">
<link rel="import" href="../utility/completion-status-mixin.html">
<link rel="import" href="../../d2l-offscreen/d2l-offscreen.html">
<link rel="import" href="../../d2l-colors/d2l-colors.html">
<link rel="import" href="../../d2l-typography/d2l-typography.html">

<!--
'd2l-lesson-header'


@demo demo/index.html
-->

<dom-module id="d2l-lesson-header">
	<template>
		<style>
		:host {
			display: table;
			table-layout: fixed;
		}

		.module-title {
			@apply --d2l-heading-3;

			color: var(--d2l-color-ferrite);
			overflow: hidden;
			text-overflow: ellipsis;
			
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2; /* number of lines to show */
			max-height: 3rem; /* fallback */

			margin-top: 0px;
			margin-bottom: 0px;
		}

		.module-completion-count {
			@apply --d2l-body-small-text;

			color: var(--d2l-color-tungsten);
			text-align: right;
			padding-top: 10px;
			padding-right: 3px;
		}

		</style>

		<div>
			<span class="module-title">[[entity.properties.title]]</span>
			<d2l-progress-bar percent-completed=[[percentCompleted]] aria-hidden="true"></d2l-progress-bar>
			<div class="module-completion-count" aria-hidden="true">[[localize('completedMofN', 'completed', completionCompleted, 'total', completionTotal)]]</div>
			<div><d2l-offscreen>[[localize('requirementsCompleted', 'completed', completionCompleted, 'total', completionTotal)]]</d2l-offscreen></div>
		</div>

	</template>
	<script>
		/*
		@memberOf D2L.Polymer.Mixins;
		@mixes CompletionStatusMixin
		*/
		class D2LLessonHeader extends D2L.Polymer.Mixins.CompletionStatusMixin() {
			static get is() {
				return 'd2l-lesson-header';
			}
			static get properties() {
				return {
					currentActivity: {
						type: String,
						value: '',
						notify: true
					}
				};
			}
		}

		window.customElements.define(D2LLessonHeader.is, D2LLessonHeader);
	</script>
</dom-module>