<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../d2l-polymer-siren-behaviors/store/entity-behavior.html">
<link rel="import" href="d2l-module-link.html">
<link rel="import" href="d2l-activity-link.html">
<link rel="import" href="../../d2l-colors/d2l-colors.html">

<dom-module id="d2l-sequence-navigator-item">
	<template>
		<style>
			:host {
				display: block;
			}

		</style>
		<template is="dom-if" if="[[isActivity]]">
			<d2l-activity-link
				href="[[getHref(entity)]]"
				token="[[token]]"
				current-activity="{{currentActivity}}"
				tabindex="0"
			></d2l-activity-link>
		</template>
		<template is="dom-if" if="[[isModule]]">
			<d2l-module-link
				href="[[selfLink]]"
				token="[[token]]"
				current-activity="{{currentActivity}}"
				selected-module="{{selectedModule}}"
				inner-module$="[[isInnerModule]]"
			></d2l-module-link>
		</template>
	</template>
	<script>
		/*
		@memberOf D2L.Polymer.Mixins;
		@mixes SirenEntityMixin
		*/
		class D2LSequenceNavigatorItem extends Polymer.mixinBehaviors([
			D2L.PolymerBehaviors.Siren.EntityBehavior
		],
		Polymer.Element
		) {
			static get is() {
				return 'd2l-sequence-navigator-item';
			}
			static get properties() {
				return {
					selfLink:{
						type: String,
						computed: 'getHref(entity)'
					},
					currentActivity: {
						type: String,
						value: '',
						notify: true
					},
					selectedModule: {
						type: String,
						value: '',
						notify: true
					},
					isModule: {
						type: Boolean,
						computed: '_isModule(entity)'
					},
					isActivity: {
						type: Boolean,
						computed: '_isActivity(entity)'
					},
					isLessonChild: {
						type: Boolean,
						value: false
					},
					isInnerModule: {
						type: Boolean,
						computed: '_isInnerModule(entity)'
					}
				};
			}

			getHref( entity ) {
				return entity && entity.getLinkByRel('self').href || '';
			}

			_isModule( entity ) {
				return entity && entity.hasClass('sequence-description');
			}

			_isActivity( entity ) {
				return entity && entity.hasClass('sequenced-activity');
			}

			_isInnerModule( entity ) {
				return this._isModule( entity ) && !this.isLessonChild;
			}
		}
		customElements.define(D2LSequenceNavigatorItem.is, D2LSequenceNavigatorItem);
	</script>
</dom-module>