<link rel="import" href="d2l-activity-link.html">
<link rel="import" href="../utility/completion-status-mixin.html">
<link rel="import" href="../../d2l-colors/d2l-colors.html">
<link rel="import" href="../../d2l-icons/d2l-icons.html">
<link rel="import" href="../../d2l-offscreen/d2l-offscreen.html">

<dom-module id="d2l-inner-module">
	<template>
		<style>
			:host {
				display: block;
				cursor: pointer;
				@apply --d2l-body-compact-text;
				width: 100%;
				--d2l-inner-module-background-color: transparent;
			}

			:host > div {
				margin-top: 10px;
				margin-bottom: 10px;
				border-radius: 8px;
				background-color: var(--d2l-color-sylvite);
				box-shadow: 0px 0px 0px 10px white;
			}

			#header-container:hover{
				--d2l-inner-module-background-color: var(--d2l-asv-hover-color);
			}

			#header-container.d2l-asv-current {
				--d2l-inner-module-background-color: var(--d2l-asv-primary-color);
				--d2l-inner-module-text-color: var(--d2l-asv-selected-text-color);
				outline: 1px solid var(--d2l-border-color);
			}

			#header-container {
				padding: 12px 20px;
				border-radius: 8px;
				background-color: var(--d2l-inner-module-background-color);
			}

			.module-header {
				display: table;
				table-layout: fixed;
				width: 100%;
			}

			.module-title {	
				@apply --d2l-body-small-text;
				color: var(--d2l-inner-module-text-color);

				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				float: left;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2; /* number of lines to show */
				max-height: 2.0rem; /* fallback */
			}

			ol {
				list-style-type: none;
				border-collapse: collapse;
				margin: 0px;
				padding: 0px;
			}

			d2l-activity-link {
				@apply --d2l-body-compact-text;
				width: calc(100% - 20px);
			}


		</style>

		<div>
			<div id="header-container" class$="[[_getIsSelected(currentActivity)]]">
				<a class="module-header" on-click="_onHeaderClicked">
					<span class="module-title">[[entity.properties.title]]</span>
				</a>
			</div>

			<ol>
				<template is="dom-repeat" items="[[subEntities]]" as="childLink">
					<li>
						<d2l-activity-link
							href="[[childLink.href]]"
							token="[[token]]"
							current-activity="{{currentActivity}}"
							tabindex="0"
						></d2l-activity-link>
					</li>
				</template>
			</ol>
		</div>
	</template>

	<script>
		/*
		@memberOf window.D2L.Polymer.Mixins;
		@mixes D2L.Polymer.Mixins.CompletionStatusMixin
		*/
		class D2LInnerModule extends D2L.Polymer.Mixins.CompletionStatusMixin() {
			static get is() {
				return 'd2l-inner-module';
			}
			static get properties() {
				return {
					currentActivity: {
						type: String,
						value: '',
						notify: true
					},
					hasCurrentActivity: {
						type: Boolean,
						value: false
					},
					selectedModule: {
						type: String,
						value: '',
						notify: true
					},
					subEntities: {
						type: Array,
						computed: 'getSubEntities(entity)'
					},
					isChildActive: {
						type: Boolean,
						notify: true
					}
				};
			}

			getSubEntities(entity) {
				return entity && entity.getSubEntities()
					.filter( subEntity => (subEntity.hasClass('sequenced-activity') && subEntity.hasClass('available')) || ( subEntity.href && subEntity.hasClass('sequence-description') ) )
					.map(this._getHref);
			}

			_getHref(entity) {
				return entity && entity.getLinkByRel && entity.getLinkByRel('self') || entity || '';
			}

			toggleSelected() {
				this.selectedModule = (this.selectedModule === '') ?
					this.entity.getLinkByRel('self').href :
					'';
			}

			_getIsSelected(currentActivity) {
				const selected = this.entity && this.entity.getLinkByRel('self').href === currentActivity;
				return (selected) ? 'd2l-asv-current' : '';
			}

			_onHeaderClicked() {
				this.currentActivity = this.entity.getLinkByRel('self').href;
			}

		}
		customElements.define(D2LInnerModule.is, D2LInnerModule);

	</script>
</dom-module>