<link rel="import" href="../utility/completion-status-mixin.html">
<link rel="import" href="d2l-completion-status.html">
<link rel="import" href="../../d2l-colors/d2l-colors.html">
<link rel="import" href="../../d2l-typography/d2l-typography.html">

<dom-module id="d2l-activity-link">
	<template>
		<style>
			:host {
				display: block;
				font-family: 'Lato', sans-serif;
				color: var(--d2l-color-ferrite);
				padding-left: 15px;
				padding-right: 15px;
			}

			.container {
				display: table;
				table-layout: fixed;
				width: 100%;
			}

			.current {
				background-color: #f2f8fc;
			}

			#activityLink {				
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				float: left;
				display: table-cell;
				width: 65%;

				/* Compact Body Text - Lato Regular 16 */
				font-size: 16px;
				line-height: 24px;
				font-weight: 400; /* normal */
				letter-spacing: 0.2px;
			}

			d2l-completion-status {
				text-align: right;
				float: right;
				display: table-cell;
				width: 35%;
			}

		</style>
		<div class="container">
			<a id="activityLink" on-click="setCurrent">[[entity.properties.title]]</a>
			<d2l-completion-status href="[[href]]" token="[[token]]"></d2l-completion-status>
		</div>

	</template>
	<script>
		/*
		@memberOf window.D2L.Polymer.Mixins;
		@mixes D2L.Polymer.Mixins.CompletionStatusMixin
		*/
		class D2LActivityLink extends D2L.Polymer.Mixins.CompletionStatusMixin( Polymer.Element ) {
			static get is() {
				return 'd2l-activity-link';
			}
			static get properties() {
				return {
					currentActivity: {
						type: String,
						value: '',
						notify: true
					}
				};
			}
			static get observers() {
				return [
					'onCurrentActivityChanged(currentActivity, entity)'
				];
			}

			setCurrent() {
				this.currentActivity = this._getLinkByRel( this.entity, 'self').href;
			}

			onCurrentActivityChanged( currentActivity, entity ) {
				if ( currentActivity && entity ) {
					var current = this._getLinkByRel( entity, 'self').href === currentActivity;
					if ( current ) {
						this.$.activityLink.classList.add('current');
					} else {
						this.$.activityLink.classList.remove('current');
					}
					this.dispatchEvent( new CustomEvent('activitySelected', { detail:{ activityHref: currentActivity }, composed: true } ) );
				}
			}
		}
		customElements.define(D2LActivityLink.is, D2LActivityLink);
	</script>
</dom-module>
