<link rel="import" href="../utility/completion-status-mixin.html">
<link rel="import" href="d2l-completion-status.html">
<link rel="import" href="d2l-completion-requirement.html">
<link rel="import" href="../../d2l-colors/d2l-colors.html">
<link rel="import" href="../../d2l-icons/d2l-icons.html">

<dom-module id="d2l-activity-link">
	<template>
		<style>
			:host {
				display: block;
				cursor: pointer;
				@apply --d2l-body-compact-text;
				
				color: var(--d2l-activity-link-text-color);
				padding: 10px;
				background-color: var(--d2l-activity-link-background-color);
			}

			:host > div {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}

			d2l-icon,
			a,
			d2l-completion-requirement,
			d2l-completion-status {
				vertical-align: top;
			}

			.d2l-activity-link-title {
				padding-left: 15px;
				flex: 1 100%;
			}

			a {
				@apply --d2l-body-compact-text;

				overflow: hidden;
				text-overflow: ellipsis;
				
				display: -webkit-box;
				-webkit-box-orient: vertical;
				max-height: 3.0rem;
				-webkit-line-clamp: 2; /* number of lines to show */
			}

			a.d2l-activity-link-one-line {
				-webkit-line-clamp: 1; /* number of lines to show */
			}

			d2l-completion-status {
				width: 6%;
			}
			
			d2l-icon {
				padding-top: 3px;
				color: var(--d2l-activity-link-text-color);
			}

		</style>
		<div>
			<template is="dom-if" if="[[hasIcon]]">
				<d2l-icon icon="[[_getIconSetKey(entity)]]"></d2l-icon>
			</template>
			<div class="d2l-activity-link-title">
				<a on-click="setCurrent" class$="[[completionRequirementClass]]">
					[[entity.properties.title]]
				</a>
				<d2l-completion-requirement
					href="[[href]]"
					token="[[token]]">
				</d2l-completion-requirement>
			</div>
			<d2l-completion-status
				href="[[href]]"
				token="[[token]]">
			</d2l-completion-status>
		</div>
		</template>

	</template>
	<script>
		/*
		@memberOf window.D2L.Polymer.Mixins;
		@mixes D2L.Polymer.Mixins.CompletionStatusMixin
		*/
		class D2LActivityLink extends D2L.Polymer.Mixins.CompletionStatusMixin() {
			static get is() {
				return 'd2l-activity-link';
			}
			static get properties() {
				return {
					currentActivity: {
						type: String,
						value: '',
						notify: true
					},
					completionRequirementClass: {
						type: String,
						computed: '_getCompletionRequirementClass(entity)'
					},
					hasIcon: {
						type: Boolean,
						computed: '_hasIcon(entity)'
					}
				};
			}
			static get observers() {
				return [
					'onCurrentActivityChanged(currentActivity, entity)'
				];
			}

			ready() {
				super.ready();
				this.addEventListener('keypress', this._onKeyPress);
			}

			_onKeyPress(event) {
				if ( event.key !== 'Enter' ) {
					return;
				}
				this.setCurrent();
			}

			setCurrent() {
				this.currentActivity = this.entity && this.entity.getLinkByRel('self').href;
			}

			onCurrentActivityChanged(currentActivity, entity) {
				if (currentActivity && entity) {
					this.dispatchEvent( new CustomEvent('activitySelected', { detail:{ activityHref: currentActivity }, composed: true } ) );
				}
			}

			_hasIcon(entity) {
				const tierClass = 'tier1';
				return entity && entity.getSubEntityByClass(tierClass);
			}

			_getIconSetKey(entity) {
				const tierClass = 'tier1';
				return (entity.getSubEntityByClass(tierClass)).properties.iconSetKey;
			}

			_getCompletionRequirementClass(entity) {
				const completionRequirement = this._getCompletionRequirement(entity);
				switch ( completionRequirement ) {
					case 'exempt':
					case 'optional':
						return 'd2l-activity-link-one-line';
				}
				return '';
			}
		}
		customElements.define(D2LActivityLink.is, D2LActivityLink);
	</script>
</dom-module>
