<link rel="import" href="d2l-sequence-navigator-item.html">
<link rel="import" href="../utility/completion-status-mixin.html">
<link rel="import" href="../../d2l-accordion/d2l-accordion.html">
<link rel="import" href="../../d2l-colors/d2l-colors.html">
<link rel="import" href="../../d2l-icons/d2l-icons.html">
<link rel="import" href="../../d2l-typography/d2l-typography.html">
<link rel="import" href="../localize-behavior.html">
<dom-module id="d2l-module-link">
	<template>
		<style>
			:host {
				display: block;
				font-family: 'Lato', sans-serif;
			}

			.header-container {
				padding: 15px;
				background-color: var(--d2l-color-gypsum);
				border-radius: 8px;
			}

			d2l-accordion-collapse[opened] .header-container {
				border-radius: 8px 8px 0px 0px;
				border-bottom: 1px solid var(--d2l-color-mica);
			}

			.module-header {
				display: table;
				table-layout: fixed;
				width: 100%;
			}

			.module-title {
				color: var(--d2l-color-ferrite);
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				float: left;
				display: table-cell;
				width: 65%;

				/* Body Text - Lato Regular 19 */
				font-size: 19px;
				line-height: 24px;
				font-weight: 400; /* normal */
				letter-spacing: 0.2px;
			}

			.module-completion-count {
				text-align: right;
				float: right;
				display: table-cell;
				width: 35%;

				/* Small Body Text - Lato Regular 14, Tungsten */
				font-size: 14px;
				line-height: 20px;
				font-weight: 400; /* normal */
				letter-spacing: 0.2px;
				color: var(--d2l-color-tungsten);
			}

			.module-completion-count d2l-icon:not(.moduleComplete) {
				color: var(--d2l-color-tungsten);
			}

			.no-topics {
				@include vui-typography;
				padding: 20px 15px;
				background-color: white;
				display: block;
				color: var(--d2l-color-ferrite);
				@include d2l-body-small;
			}

			.module-item-list {
				list-style-type: none;
				border-collapse: collapse;
				padding-left: 0px;
				margin-top: 0px;
				margin-bottom: 0px;
			}

			d2l-sequence-navigator-item {
				width: 100%;
				margin-top: -1px;
				margin-bottom: -1px;
				margin-left: -1px;

				/* Compact Body Text - Lato Regular 16 */
				font-size: 16px;
				line-height: 24px;
				font-weight: 400; /* normal */
				letter-spacing: 0.2px;
			}

			d2l-sequence-navigator-item:not(.current):not(:hover) {
				border: 1px solid var(--d2l-color-mica);
				background-color: white;
			}

			d2l-sequence-navigator-item.current,
			d2l-sequence-navigator-item:hover {
				background-color: #f2f8fc;
				border: 1px solid #99c5e5;
				border-bottom: 1px solid #99c5e5;
				position: relative;
				z-index: 0.5;
			}

			li:last-of-type > d2l-sequence-navigator-item {
				border-radius: 0px 1px 8px 8px;
			}

			.optionalStatus {
				color: var(--d2l-color-tungsten);
			}

			.moduleComplete {
				color: var(--d2l-color-olivine);
			}

			.divider-icon {
				color: var(--d2l-color-mica) !important;
			}

		</style>

		<d2l-accordion-collapse
			class$="[[_getIsSelected(selectedModule)]]"
			on-click="toggleSelected"
			id="moduleLink"
			no-icons
			flex
		>
			<div slot="header" class="header-container">
				<div class="module-header">
					<span class="module-title">[[entity.properties.title]]</span>
					<span class="module-completion-count">
						<template is="dom-if" if="[[showDivider]]">
							<d2l-icon icon="d2l-tier1:divider-solid" class="divider-icon"></d2l-icon>
						</template>
						<template is="dom-if" if="[[showCount]]">
							<span class="countStatus">
								[[localize('countStatus', 'completed', completionCompleted, 'total', completionTotal)]]
							</span>
						</template>
						<template is="dom-if" if="[[showCheckmark]]">
							<span class="completedStatus">
								<d2l-icon class="moduleComplete" aria-label$="[[localize('completed')]]" icon="d2l-tier1:check"></d2l-icon>
							</span>
						</template>
						<template is="dom-if" if="[[showOptional]]">
							<span class="optionalStatus">
								[[localize('optional')]]
							</span>
						</template>
					</span>
				</div>
			</div>

			<ol class="module-item-list">
				<template is="dom-repeat" items="[[subEntities]]" as="childLink">
					<li on-click="_onActivityClicked">
						<d2l-sequence-navigator-item  class$="[[_getIsCurrent(childLink, currentActivity)]]"
							href="[[childLink.href]]"
							token="[[token]]"
							current-activity="{{currentActivity}}"
							selected-module="{{selectedModule}}"
						>
						</d2l-sequence-navigator-item>
					</li>
				</template>
				<template is="dom-if" if="[[!hasChildren]]">
					<div class="no-topics">
						[[localize('moduleHasNoTopics')]]
					</div>
				</template>
			</ol>
		</d2l-accordion-collapse>
	</template>

	<script>
		/*
		@memberOf window.D2L.Polymer.Mixins;
		@mixes D2L.Polymer.Mixins.CompletionStatusMixin
		*/
		class D2LModuleLink extends Polymer.mixinBehaviors(D2L.PolymerBehaviors.SequenceNavigator.LocalizeBehavior, D2L.Polymer.Mixins.CompletionStatusMixin(Polymer.Element)) {
			static get is() {
				return 'd2l-module-link';
			}
			static get properties() {
				return {
					currentActivity: {
						type: String,
						value: '',
						notify: true,
						observer: '_closeModule'
					},
					hasCurrentActivity: {
						type: Boolean,
						value: false
					},
					selectedModule: {
						type: String,
						value: '',
						notify: true
					},
					subEntities: {
						type: Array,
						computed: 'getSubEntities(entity)'
					},
					hasChildren: {
						type: Boolean,
						computed: '_hasChildren(entity)'
					},
					showCount: {
						type: Boolean,
						value: false,
						computed: '_showCount(completionCount, selectedModule, hasCurrentActivity)'
					},
					showCheckmark: {
						type: Boolean,
						value: false,
						computed: '_showCheckmark(completionCount, selectedModule, hasCurrentActivity)'
					},
					showOptional: {
						type: Boolean,
						value: false,
						computed: '_showOptional(completionCount, selectedModule, hasCurrentActivity)'
					},
					showDivider: {
						type: Boolean,
						value: false,
						computed: '_showDivider(showCount, showCheckmark, showOptional)'
					}
				};
			}

			connectedCallback() {
				super.connectedCallback();
			}

			_isAccordionOpen() {
				if ( !this.shadowRoot || !this.shadowRoot.querySelector('#moduleLink') ) {
					return false;
				}
				return this.shadowRoot.querySelector('#moduleLink').hasAttribute('opened');
			}

			_isOptionalModule() {
				return this.completionCount && this.completionCount.total === 0 && this.completionCount.optionalTotal > 0;
			}

			_isAllOptionalViewed() {
				return this.completionCount && this.completionCount.optionalTotal > 0 && this.completionCount.optionalTotal === this.completionCount.optionalViewed;
			}

			_isAllRequiredViewed() {
				return this.completionCount && this.completionCount.total > 0 && this.completionCount.total === this.completionCount.completed;
			}

			_isRequiredSomeComplete() {
				return this.completionCount && this.completionCount.total > 0 && this.completionCount.completed > 0 && this.completionCount.completed <  this.completionCount.total;
			}

			_showCount() {
				return this.hasChildren &&
					!this._isOptionalModule() && (
					this._isAccordionOpen() ||
					( !this._isAccordionOpen() && !this._isAllRequiredViewed() && this._isRequiredSomeComplete() )
				);
			}

			_showCheckmark() {
				return !this._isAccordionOpen() && (
					( this._isOptionalModule() && this._isAllOptionalViewed() ) ||
					( !this._isOptionalModule() && this._isAllRequiredViewed() )
				);
			}

			_showOptional() {
				return this._isOptionalModule() && !this._isAccordionOpen() && !this._isAllOptionalViewed();
			}

			_showDivider(showCount, showCheckmark, showOptional) {
				return showCount || showCheckmark || showOptional;
			}

			getSubEntities(entity) {
				return entity.getSubEntities()
					.filter( subEntity => this._isActivity(subEntity) || subEntity.href )
					.map(this._getHref);
			}

			_getHref(entity) {
				return entity && entity.getLinkByRel && entity.getLinkByRel('self') || entity || '';
			}

			_hasChildren(entity) {
				return entity.getSubEntities().length !== 0;
			}

			_isActivity(childEntity) {
				return childEntity.class[0] === 'sequenced-activity' && Object.keys(childEntity.properties).length > 0;
			}

			toggleSelected() {
				this.selectedModule = (this.selectedModule === '') ?
					this._getLinkByRel(this.entity, 'self').href :
					'';
			}

			_getIsOpened(selectedModule) {
				return this._getIsSelected(selectedModule) === 'selected';
			}

			_getIsSelected(selectedModule) {
				var selected = this.entity && this._getLinkByRel(this.entity, 'self').href === selectedModule;
				return (selected) ? 'selected' : 'not-selected';
			}

			_getIsCurrent(childLink, currentActivity) {
				if ( childLink.href === currentActivity ) {
					this.shadowRoot.querySelector('#moduleLink').setAttribute('opened', '');
					this.hasCurrentActivity = true;
					return 'current';
				}
				this.hasCurrentActivity = false;
			}

			_closeModule() {
				if ( !this.entity ) {
					return;
				}
				// Filter is for our demo data having sequence in the class of the subentity
				const children = this.entity.getSubEntities().filter( subEntity => subEntity.class.includes('sequenced-activity'));
				for ( let i = 0; i < children.length; i++ ) {
					// Doing this because our demo data structure was made without embedded sub entities
					var childLink =  children[i].href ? children[i].href : children[i].getLinkByRel('self').href;

					if ( childLink === this.currentActivity ) {
						this.shadowRoot.querySelector('#moduleLink').setAttribute('opened', '');
						return;
					}
				}
				this.shadowRoot.querySelector('#moduleLink').removeAttribute('opened');
			}

			_onActivityClicked(e) {
				var newActivityLink = e.model.__data.childLink.href;
				if ( this.currentActivity !== newActivityLink ) {
					this.currentActivity = newActivityLink;
				}
			}
		}
		customElements.define(D2LModuleLink.is, D2LModuleLink);

	</script>
</dom-module>
